---
export const prerender = true
import Root from '@layouts/Root.astro'
import { getCollection } from 'astro:content'
import { mdToHtml } from '@src/utils.ts'
import CopyBtn from '@components/CopyBtn.svelte'
import { categories } from '@src/constants.ts'

export async function getStaticPaths() {
	const prompts = await getCollection('prompt')
	return prompts.map((prompt) => ({
		params: { promptSlug: prompt.slug },
		props: { prompt },
	}))
}

const { prompt } = Astro.props
const category = categories.find((i) => i.slug === prompt.data.category)
---

<Root
	classes="px-3 sm:px-6"
	title={`A ${category?.label.toLowerCase()} prompt: ${prompt.data.title}`}
	description={`View this ${category?.label.toLowerCase()} prompt. Explore more prompts from our 100% free and growing collection of AI prompts.`}
>
	<div class="text-center mb-16 mt-12 max-w-[800px] mx-auto">
		<h1 class="mb-6">{prompt.data.title}</h1>
		<a
			href={`/category/${category?.slug}/`}
			class="inline-block rounded-full px-4 py-1 bg-yellow-200 hover:bg-yellow-300 dark:text-gray-300 dark:bg-yellow-700 dark:focus:ring-0 dark:focus:outline-none dark:hover:bg-yellow-600 dark:focus:bg-yellow-600"
		>
			{category?.label}
		</a>
	</div>
	<div class="max-w-[700px] mx-auto w-full">
		<div class="bg-gray-100/70 dark:bg-gray-800 p-6 mb-3">
			<div class="prose prose-xl dark:prose-invert">
				<Fragment set:html={mdToHtml(prompt.data.prompt)} />
			</div>
		</div>
		<div class="flex justify-between">
			{
				prompt.data.source && (
					<div class="text-sm">
						<a
							class="defaultTextLink dark:text-gray-200"
							href={prompt.data.source}
						>
							Source
						</a>
					</div>
				)
			}
			<CopyBtn
				client:load
				text={prompt.data.prompt}
				classes="ml-auto px-6 py-2 rounded bg-blue-200 hover:bg-blue-300 dark:text-gray-300 dark:bg-blue-700 dark:focus:ring-0 dark:focus:outline-none dark:hover:bg-blue-600 dark:focus:bg-blue-600"
			/>
		</div>
	</div>
</Root>
