---
export const prerender = true
import Root from '@layouts/Root.astro'
import { getCollection } from 'astro:content'
import { wrapLinesInPTags } from '@src/utils.ts'
import CopyBtn from '@components/CopyBtn.svelte'

export async function getStaticPaths() {
	const prompts = await getCollection('prompt')
	return prompts.map((prompt) => ({
		params: { promptSlug: prompt.slug },
		props: { prompt },
	}))
}

const { prompt } = Astro.props
---

<Root
	classes="px-3 sm:px-6"
	title={`A prompt for ${prompt.data.intendedFor}: ${prompt.data.title}`}
	description={`View this prompt for ${prompt.data.intendedFor}. Explore more prompts from our 100% free and growing collection of AI prompts.`}
>
	<div class="text-center mb-16 mt-12 max-w-[800px] mx-auto">
		<h1 class="mb-6">{prompt.data.title}</h1>
		<h2 class="text-gray-600 dark:text-gray-300">Intended for {prompt.data.intendedFor}</h2>
	</div>
	<div class="max-w-[700px] mx-auto w-full">
		<div class="bg-gray-100/70 dark:bg-gray-800 p-6 mb-3">
			<div class="prose prose-xl dark:prose-invert">
				<Fragment set:html={wrapLinesInPTags(prompt.data.prompt)} />
			</div>
		</div>
		<div class="flex justify-between">
			<div class="text-sm">
				<a
					class="defaultTextLink dark:text-gray-200"
					href={prompt.data.source}
					>Source</a
				>
			</div>
			<CopyBtn
				client:load
				text={prompt.data.prompt}
				classes="px-6 py-2 rounded bg-blue-200 hover:bg-blue-300 dark:text-gray-300 dark:bg-blue-700 dark:focus:ring-0 dark:focus:outline-none dark:hover:bg-blue-600 dark:focus:bg-blue-600"
			/>
		</div>
	</div>
</Root>
